/server/.idea/.idea.SocialMediaApp/.idea/.gitignore
/server/.idea/.idea.SocialMediaApp/.idea/.name
/server/.idea/.idea.SocialMediaApp/.idea/encodings.xml
/server/.idea/.idea.SocialMediaApp/.idea/indexLayout.xml
/server/.idea/.idea.SocialMediaApp/.idea/misc.xml
/server/.idea/.idea.SocialMediaApp/.idea/vcs.xml
