.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #FDE8E9;
  color: #050315;
    font-family: 'Josefin Sans', sans-serif; 
}

.page-content {
  flex: 1;
}
