<div class="edit-profile-container">
  <h2 class="page-title">Edit Profile</h2>

  <ng-container *ngIf="userData; else loading">
    <app-edit-profile-image
      [userProfileUrl]="profileUrlWithCache"
      (updateOperationResult)="handleImageUpdateResult($event)">
    </app-edit-profile-image>

    <app-edit-main-info
    [username]="userData.username"
    [uniqueNameIdentifier]="userData.uniqueNameIdentifier">
    </app-edit-main-info>
    <app-edit-details [data]="detailsData"></app-edit-details>
    <app-edit-address
    [city]="userData.city"
    [country]="userData.country">
    </app-edit-address>
  </ng-container>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
